.projects-section{
    padding: 2em 0 2em;
}

.projects-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-div{
    width: 100%;
    height: 18em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-div-reverse{
    flex-direction: row-reverse;
}

.project-photo-div{
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.project-photo{
    transform: scale(1.5);
    transform-origin: 50% 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.project-detail-div{
    width: 50%;
    height: 100%;
    padding: 0 3em 0;
    line-height: 1.5em;
    text-align: left;
}
.project-detail-div p{
    max-height: 50%;
}

.project-read-more-button{
    padding: 0.5em;
    border-radius: 0.25em;
}