*{
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    width: 100%;
    margin: 0px;
} 

header{
    width: 100%;
    padding: 2em 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

#header-title-and-subtitle{
    text-align: left;
}

#header-title-and-subtitle p{
    margin: 0;
}

nav{
    width: 60%;
    padding: 1.5em 1em 1.5em;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background-color: rgb(241, 33, 63);
    border-radius: 1em;
}

.navlink{
    color: white;
    font-weight: bolder;
}

hr {
    margin: 0px;
}

footer{
    width: 100%;
    height: 100em;
    background-color: rgb(226, 226, 226);
}