body{
    margin: 0%;
}

header{
    width: 100%;
    height: 100px;
    background-color:rgb(112, 195, 156);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 20%;
}

header *{
    margin-left: 2.5%;
    margin-right: 2.5%;
}

#title{
    color:rgb(254, 253, 251);
}

.nav-link{
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(254, 253, 251);
    text-decoration: none;
    color:rgb(102, 165, 132);
}