body{
    margin: 0;
    color: black;
}

#content{
    width: 100%;
    height: 300px;
    background-color: rgb(198, 81, 85);
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 65px 30px 65px 30px;
}

.column{
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
    max-width: 200em;
    min-width: 150em;
}

* {
    box-sizing: border-box;
}