#content{
    width: 100%;
    height: 300px;
    background-color: rgb(243, 126, 253);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding-top: 65px;
    padding-bottom: 65px;
}

#left-div{
    margin-left: 2.5%;
    width: 50%;
    color: rgb(0, 127, 16);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#left-div p {
    color: rgb(51, 132, 75);
    margin-bottom: 0;
}

#left-div h2{
    margin-top: 0;
}

#right-div{
    margin-right: 5%;
    width: 25%;
    background-color: rgb(98, 230, 121);
    color: rgb(207, 0, 225);
    border-radius: 1rem;
    padding: 1%;
}

#right-div h3{
    text-align: center;
}

#recomendaciones{
    text-align: left;
    padding-left: 35%;
}

#recomendaciones p{
    margin: 1%;
}

*{
    box-sizing: border-box;
}