*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0px;
} 

header{
    width: 100%;
    padding: 2em 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: nowrap;
    margin: 0;
    border-bottom: 1px solid lightgray;
}

section{
    width: 100%;
    margin: 1em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer{
    width: 100%;
    /* height: 25em; */
    background-color: rgb(226, 226, 226);
    color: grey;
}


nav{
    width: 60%;
    padding: 1.5em 1em 1.5em;
    display: flex;
    margin-left: 1em;
    justify-content: space-between;
    flex-wrap: nowrap;
    min-width: 598px;
}

a{
    text-decoration: none;
}

.content{
    margin:auto;
    width: 96%;
}

.footer-content{
    padding-top: 2em;
    padding-bottom: 1em;
}

#header-title-and-subtitle{
    text-align: left;
    margin-right: 1em;;
}

#header-title-and-subtitle p{
    margin: 0;
}

#header-title-and-subtitle h1{
    margin-bottom: 0em;
}

.inspirational-quote-div{
    margin: 2.5em 2.5em;
    text-align: center;
    width: 50%;
    font-size: 2em;
    font-style: italic;
}

.red-rounded-box{
    background-color: rgb(241, 33, 63);
    border-radius: 0.75em;
}

.navlink{
    color: white;
    font-weight: bolder;
}

.link{
    color: red;
}

.section-content-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service-header{
    display: flex;
    justify-content: flex-start;
}

.img-container{
    width: 100%;
}

.img-full{
    width: 100%;
}

.section-title-div{
    margin-bottom: 2em;
    padding: 0.05em 2em 0.05em;
    text-align: center;
}

.section-title{
    color: white;
}

.player-div{
    min-height: 400px;
    width: 18%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.player-link{
    justify-self: flex-end;
}

.player-body{
    color: rgb(151, 151, 151);
}

.work-div{
    width: 30%;
}

.hr-efecto-profundidad{
    border-bottom: 1px solid white;
    margin-bottom: 1em;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section-div{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* color: grey; */
}

.footer-section-div>*{
    margin-bottom: 1em;
}

.footer-section-div p {
    margin:0;
}

.footer-section-title-div{
    color: black;
}

.blog-posts-div{
    width: 50%;
}

.post{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.post>*{
    margin-right: 1em;
}

.post-img{
    width: 8em;
    padding: 0.5em;
    border: 1px solid black;
}

.subfooter{
    display: flex;
    justify-content: space-between;
}